/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070; 
  --title-color: #DB00FF; 
  --text-color: #F1B2CE; 
  --page-color: #000028; 
  --button-color: var(--accent-color);
  --decorated-color: var(--accent-color); 
  --subtitle-h3-color: var(--page-color); 
  --title-h3-color: var(--accent-color);

  --background-image: url(../images/cover-image-dark.png);
  --decoration-gap: clamp(10px , 2.65vw , 20px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070; 
    --title-color: #DB00FF; 
    --text-color: #F1B2CE; 
    --page-color: #000028; 
    --button-color: var(--accent-color);
    --decorated-color: var(--accent-color);
    --subtitle-h3-color: var(--page-color); 
    --title-h3-color: var(--accent-color);

    --background-image: url(../images/cover-image-dark.png);
    --decoration-gap: clamp(10px , 2.65vw , 20px);
  }
}
