/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070; /* цвет тени и фона заголовков*/
  --title-color: #DB00FF; /* цвет жирных надписей */
  --text-color: #F1B2CE; /* #000028 для светлой*/
  --page-color: #000028; 
  --button-color: var(--accent-color);
  --decorated-color: var(--accent-color); /* цвет уголков */
  --subtitle-h3-color: var(--page-color); /* цвет заголовка без фона */
  --title-h3-color: var(--accent-color);

  --background-image: url(../images/cover-image-dark.png);
  --decoration-gap: clamp(10px , 2.65vw , 20px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070; /* цвет тени и фона заголовков*/
    --title-color: #DB00FF; /* цвет жирных надписей */
    --text-color: #F1B2CE; /* #000028 для светлой*/
    --page-color: #000028; 
    --button-color: var(--accent-color);
    --decorated-color: var(--accent-color); /* цвет уголков */
    --subtitle-h3-color: var(--page-color); /* цвет заголовка без фона */
    --title-h3-color: var(--accent-color);

    --background-image: url(../images/cover-image-dark.png);
    --decoration-gap: clamp(10px , 2.65vw , 20px);
  }
}
