/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB; /* цвет тени и фона заголовков*/
  --title-color: #FFC2E6; /* цвет жирных надписей */
  --text-color: #353430; /* #000028 для светлой*/
  --page-color: #FFF1F7; 
  --button-color: var(--text-color);
  --decorated-color: var(--text-color); /* цвет уголков */
  --subtitle-h3-color: var(--text-color); /* цвет заголовка без фона */
  --title-h3-color: var(--text-color);

  --background-image: url(../images/cover-image-light.png)
}

.theme-light .header__rec-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB; /* цвет тени и фона заголовков*/
    --title-color: #FFC2E6; /* цвет жирных надписей */
    --text-color: #353430; /* #000028 для светлой*/
    --page-color: #FFF1F7; 
    --button-color: var(--text-color);
    --decorated-color: var(--text-color); /* цвет уголков */
    --subtitle-h3-color: var(--text-color); /* цвет заголовка без фона */
    --title-h3-color: var(--text-color);

    --background-image: url(../images/cover-image-light.png)
  }
}