/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --page-color: #FFF1F7;
  --button-color: var(--text-color);
  --decorated-color: var(--text-color);
  --subtitle-h3-color: var(--text-color);
  --title-h3-color: var(--text-color);

  --background-image: url(../images/cover-image-light.png);
  --decoration-gap: clamp(10px , 2.65vw , 20px);
}

.theme-light .header__rec-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --page-color: #FFF1F7;
    --button-color: var(--text-color);
    --decorated-color: var(--text-color);
    --subtitle-h3-color: var(--text-color);
    --title-h3-color: var(--text-color);

    --background-image: url(../images/cover-image-light.png);
    --decoration-gap: clamp(10px , 2.65vw , 20px);
  }

  .header__rec-text {
    display: none;
  }
}