/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--page-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  height: 100vh;
  min-height: 668px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  align-items: center;

  padding: clamp(10px , 2.65vw , 20px);
}

.title-decor {
  background-color: var(--accent-color);
  color: black;
  font-weight: bold;
}

.regular {
  font-weight: normal;
}



.header__rec-text {
  display: flex;
  justify-self: end;
  color: var(--accent-color);
  line-height: 25px;
  position: absolute;
  top: calc(clamp(10px , 2.65vw , 20px) - 10px);
  right: calc(clamp(10px , 2.65vw , 20px) + 10px);
}

.header__rec-text::before {
  content: 'REC';
  margin-top: 10px;
  margin-right: 15px;
}

.header__rec-text::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 42px;
  margin-top: 18px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: clamp(65px, calc(-173.3px + 35.67vh), 182px);;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  line-height: 18px;
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  cursor: default;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.cover-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__cover {
  color: var(--subtitle-h3-color);
  font-weight: bold;
  
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  align-self: flex-start;
  justify-self: end;
  bottom: clamp(10px , 2.65vw , 20px);
  left: clamp(10px , 2.65vw , 20px);
  border-left: 1px solid var(--decorated-color);
  border-bottom: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  top: clamp(10px , 2.65vw , 20px);
  right: clamp(10px , 2.65vw , 20px);
  border-right: 1px solid var(--decorated-color);
  border-top: 1px solid var(--decorated-color);
}



.main {
  margin-block: 40px;
  padding-inline: clamp(10px , 2.65vw , 20px);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.main__section-title {
  font-weight: 700;
  color: var(--title-h3-color);
  font-size: 18px;
}

.main__section-subtitle {
  font-size: 18px;
}

.answer {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-text {
  color: var(--text-color);
}

.main__section-link {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.main__image-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  max-width: 100%;
  margin-top: 10px;
}

.main__section-image {
  /*width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;*/
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  padding: 10px;
}

.footer__title {
  align-self: center;
  justify-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__cover {
    justify-self: end;
  }
  .cover-title {
    margin-left: calc(-1 * clamp(10px , 2.65vw , 20px));
  }

  .title-header-decor {
    width: clamp(364px, calc(-17px + 49.609vw), 491px);
  }

  .main {
    margin-block: 60px;
    row-gap: 80px;
  }

  .main__section.section-why, .main__section.section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 100%;
  }

  .main__section-text {
    max-width: 100%;
  }

  .main__section-answers-why .answer:first-child, .main__section-answers-how .answer:first-child {
    margin: 0;
  }

  .main__section.section-what .main__section-title {
    width: calc((100% * 1/3) - 20px);
  } 

  .main__image-list {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 20px;
  }

  .image-item {
    margin: 0;
  }

  .image-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .image-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row:  1 / 3;
  }

  .image-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .image-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .image-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  .cover-title {
    font-size: 157px;
  }

  .header__theme-menu {
    height: 100%;
    display: flex;
    justify-self: center;
    flex-direction: row;
    align-self: start;
    margin-top: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .main__section-answers-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__section.section-why, .main__section.section-how {
    grid-template-columns: 1fr 649px;
  }

  .footer__title {
    font-size: 157px;
  }
}

/* для большого экрана
.main__section-answers-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  } */