/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  line-height: 23.4px;

  background-image: url('../images/cover-image-dark.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  position: relative; 
  align-items: center;
  padding: 10px;
  
}

.title-decor {
  background-color: var(--accent-color);
  color: black;
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.header__rec-text {
  display: flex;
  justify-self: end;
  color: var(--accent-color);
  line-height: 25px;
  position: absolute;
  top: calc(clamp(10px , 2.65vw , 20px) - 10px);
  right: calc(clamp(10px , 2.65vw , 20px) + 10px);
}

.header__rec-text::before {
  content: 'REC';
  margin-top: 10px;
  margin-right: 15px;
}

.header__rec-text::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 42px;
  margin-top: 18px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-top: 65px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  line-height: 18px;
  text-transform: lowercase;
  color: #FF0070;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  cursor: default;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.cover-title {
  font-size: 116px;
  font-weight: bold;
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
  margin-top: 55px ;
}

.header__cover {
  color: black;
  font-weight: bold;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

/* Левый нижний угол */
.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

/* Правый верхний угол */
.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

/* main */

.main {
  margin-block: 40px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.main__section-title {
  font-weight: bold;
  color: var(--accent-color);
}


.answer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-text {
  color: var(--text-color);
}

.main__section-link {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.main__image-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin-top: 10px;
}

.main__section-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  padding: 10px;
}

.footer__title {
  align-self: center;
  font-size: 116px;
  line-height: 0.825;
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}